*.bak
*.DS_Store
*.log
*.phar
*.sublime-project
*.sublime-workspace
.php_cs
.idea
composer.lock
config/settings.php
config/testing.php
environment.php
humbug.json
humbuglog.*
phinx.yml
phpdox.xml
phpunit.xml
resources/secure.key
server/docker-compose.yml
server/docker/
sftp-config.json
vendor/
VeriduRuleset.xml
