*.bak
*.DS_Store
*.log
*.sublime-project
*.sublime-workspace
.php_cs
composer.lock
config/settings.php
config/testing.php
environment.php
humbug.json
humbuglog.*
phinx.yml
phpdox.xml
phpunit.xml
server/docker-compose.yml
server/docker/
sftp-config.json
vendor/
VeriduRuleset.xml
