version: '2'
services:
  nginx:
    container_name: srv-web
    image: idos/nginx:latest
    ports:
      - "127.0.0.1:8080:80"
    depends_on:
      - php-fpm
    links:
      - "php-fpm:srv-php"
    networks:
      idos-ipv4-front:
        ipv4_address: 172.16.238.10
    dns:
      - 208.67.220.220
      - 208.67.222.222
  php-fpm:
    container_name: srv-php
    image: idos/php-fpm:latest
    volumes:
      - ../:/app
    depends_on:
      - postgresql
      - gearman
      - redis
      - mongodb
    links:
      - "postgresql:srv-db"
      - "gearman:srv-queue"
      - "redis:srv-redis"
      - "mongodb:srv-nosql"
    networks:
      idos-ipv4-front:
        ipv4_address: 172.16.238.11
      idos-ipv4-back:
        ipv4_address: 172.16.239.11
    dns:
      - 208.67.220.220
      - 208.67.222.222
  postgresql:
    container_name: srv-db
    image: veridu/postgresql:latest
    ports:
      - "127.0.0.1:5432:5432"
    networks:
      idos-ipv4-back:
        ipv4_address: 172.16.239.12
    dns:
      - 208.67.220.220
      - 208.67.222.222
  gearman:
    container_name: srv-queue
    image: veridu/gearman:latest
    networks:
      idos-ipv4-back:
        ipv4_address: 172.16.239.13
    dns:
      - 208.67.220.220
      - 208.67.222.222
  redis:
    container_name: srv-redis
    image: veridu/redis:latest
    networks:
      idos-ipv4-back:
        ipv4_address: 172.16.239.15
    dns:
      - 208.67.220.220
      - 208.67.222.222
  mongodb:
    container_name: srv-nosql
    image: mongo:latest
    ports:
      - "127.0.0.1:27017:27017"
    dns:
      - 208.67.220.220
      - 208.67.222.222
    networks:
      idos-ipv4-back:
        ipv4_address: 172.16.239.16
networks:
  idos-ipv4-front:
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "false"
    ipam:
      driver: default
      config:
        - subnet: 172.16.238.0/24
          gateway: 172.16.238.1
  idos-ipv4-back:
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "false"
    ipam:
      driver: default
      config:
        - subnet: 172.16.239.0/24
          gateway: 172.16.239.1
